<!DOCTYPE HTML>
<html lang="en-US">
    <head>

	<HTA:APPLICATION VERSION="1.0" #if($FALSE)#end 
#if($APPLICATIONNAME) APPLICATIONNAME="$APPLICATIONNAME"#end
#if($BORDER) BORDER="$BORDER"#end
#if($BORDERSTYLE) BORDERSTYLE="$BORDERSTYLE"#end
#if($CAPTION) CAPTION="$CAPTION"#end
#if($ICON) ICON="$ICON"#end
#if($MAXIMIZEBUTTON) MAXIMIZEBUTTON="$MAXIMIZEBUTTON"#end
#if($MINIMIZEBUTTON) MINIMIZEBUTTON="$MINIMIZEBUTTON"#end
#if($MINIMIZEBUTTON) MINIMIZEBUTTON="$MINIMIZEBUTTON"#end
#if($SHOWINTASKBAR) SHOWINTASKBAR="$SHOWINTASKBAR"#end
#if($SINGLEINSTANCE) SINGLEINSTANCE="$SINGLEINSTANCE"#end
#if($SYSMENU) SYSMENU="$SYSMENU"#end
#if($WINDOWSTATE) WINDOWSTATE="$WINDOWSTATE"#end
>
        <meta http-equiv="refresh" content="0;url=${launchuri}">
    </head>
    <body>
    </body>
</html>